h1 {
  color: #4A5759;
  background-color: #EDAFB8;
  padding: 20px;
  text-align: center;
}

main {
  background-color: #DEDBD2;
  padding: 20px;
  color: #4A5759;
}

main p {
  text-align: left;
  margin-bottom: 10px;
}

main p:last-child {
  margin-left: 20px;
  font-weight: bold;
}
