header {
  text-align: center;
  background-color: #EDAFB8;
  color: #4A5759;
  padding: 20px;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


nav {
  background-color: #F7E1D7;
  margin: 20px 0;
}

main {

  text-align: center;
  background-color: #DEDBD2;
  padding: 20px;
  color: #4A5759;
  margin: 0; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  flex-grow: 1;
}

ol {
  text-align: left;
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
}
ol li {
  text-align: left;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%; 
  margin: 0 auto; 
}

.table-container {
  display: flex;
  justify-content: space-around;
}
th, td {
  border: 1px solid black;
  padding: 8px;
}

table tr:first-child {
  background-color: #333;
  color: white;
}

table tr:nth-child(even) {
  background-color: #DEDBD2;
  color: #4A5759;
}

table tr:nth-child(odd) {
  background-color: #B0C4B1;
  color: #4A5759;
}


ul li {
  text-align: left;
  margin-bottom: 10px;
}
figure {
  text-align: center;
  margin: 0; 
  padding: 0; 
}

figcaption {
  font-weight: bold;
}

table tr.total {
  background-color: #333;
  color: white;
}
.complex-table {
  width: 45%; 
}

.complex-table th, .complex-table td {
  padding: 8px; 
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #B0C4B1;
  padding: 20px;
  color: #4A5759;
  text-align: center;
}

footer a {

  color: #4A5759;
  text-decoration: none;
  margin: 0 10px;
}

button[type="submit"],
button[type="reset"] {
  background-color: #333; 
  color: #fff; 
}


input[type="text"],
input[type="tel"],
input[type="email"],
input[type="checkbox"],
input[type="radio"],
select {
  
  border: 1px solid #ccc; 
  padding: 10px; 
  font-size: 16px;
  margin: 5px 0; 
  margin-bottom: 15px;
}

select {
  width: 100%; 
}
form {
  margin: 20px;
  text-align: left;
}
label {
  
  font-weight: bold; 
  color: #333;
  display: block;
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%; 
}
a {
  color: #333; 
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.alligator-functions-box {
  background-color: #DEDBD2;
  border: 2px solid #4A5759;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.alligator-functions-box button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4A5759;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.alligator-functions-box button:hover {
  background-color: #333;
}

