header {
  background-color: #EDAFB8;
  color: #4A5759;
  padding: 20px;
}

nav {
  background-color: #F7E1D7;
  margin: 20px 0;
}

main {
  background-color: #DEDBD2;
  padding: 20px;
  color: #4A5759;
}

ul li {
  text-align: left;
  margin-bottom: 10px;
}

footer {
  background-color: #B0C4B1;
  padding: 20px;
  color: #4A5759;
}

footer a {
  color: #4A5759;
  text-decoration: none;
  margin: 0 10px;
}
