/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5dc; 
    color: #333; 
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: 20px;
}


header {
    background-color: #A0522D; 
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

h2 {
    color: #A0522D; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.user-groups ul,
.content-overview ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.user-groups li,
.content-overview li {
    border: 1px solid #e0d7b5; 
    background-color: #fff5e1; 
    margin: 10px; 
    border-radius: 5px;
    flex: 1;
    text-align: center; 
}


.user-groups li,
.content-overview li {
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.user-groups li,
.content-overview li {
    font-size: 16px; 
    color: darkolivegreen;
}


.site-map {
    text-align: center; /* Center-align the content within the section */
}

h2 {
    text-align: left; /* Align the heading to the left */
}

.image-container {
    display: inline-block; /* Display the image and caption as inline-block elements */
}

img {
    display: block; /* Make the image a block-level element for better control */
    margin: 0 auto; /* Center the image horizontally */
}

figcaption {
    text-align: center; /* Center-align the caption text */
}




footer {
    background-color: #A0522D; 
    color: #fff;
    text-align: center;
    padding: 10px;
}
