/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles for header, main, and footer */
header {
  background-color: lightblue;
  color: white;
  text-align: center;
  padding: 20px;
}

footer {
  background-color: rgb(0, 51, 139);
  color: white;
  text-align: center;
  padding: 20px;
  
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}


.logo {
  position: absolute;
  top: 10px; 
  left: 20px; 
}

.logo img {
  width: 42px; 
  height: auto;
}


.hero-image {
  
  background-image: url('images/hotelhome.jpeg');
  background-size: cover;
  height: 100vh; 
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 10px;
  bottom: 0;
  width: 100%;
}


footer a {
  color: lightblue;
}